In [1]:
import pandas as pd

# Initializing a Series from a list
data = [1, 2.3, 'a', 4, 5] # this is a list 
series_from_list = pd.Series(data)
print(series_from_list)

0      1
1    2.3
2      a
3      4
4      5
dtype: object

In [2]:
# Creating a DataFrame
data = {
    'Name': ['Keshav', 'Poorvi', 'Jaish', 'Shri'],
    'Age': [23, 25, 22, 24],
    'Score': [85, 90, 78, 92]
} # this is a dataframe format

df = pd.DataFrame(data)
print(df)

     Name  Age  Score
0  Keshav   23     85
1  Poorvi   25     90
2   Jaish   22     78
3    Shri   24     92

In [3]:
#alignment 
s1 = pd.Series([1, 2, 3], index=["a", "b", "c"])
s2 = pd.Series([4, 5, 6], index=["b", "c", "d"])
print(s1 * s2)# Multiply the two Series element-wise (only matching indexes will be multiplied)

a     NaN
b     8.0
c    15.0
d     NaN
dtype: float64

In [4]:
series_a = pd.Series([1, 2, 3])
series_b = pd.Series([4, 5, 6])
sum_series = series_a + series_b # Add the two Series together element by element
print(sum_series)

0    5
1    7
2    9
dtype: int64

In [5]:
# Creating a MultiIndex Series

# Create two lists that will be used as levels for the MultiIndex
arrays = [
    ['keshav', 'keshav', 'poorvi', 'poorvi'],#  <-- fixed quotes First level of index
    ['Math', 'Science', 'Math', 'Science']# Second level of index
]
index = pd.MultiIndex.from_arrays(arrays, names=('Name', 'Subject'))# Create a MultiIndex using the two lists

multi_s = pd.Series([90, 82, 98, 99], index=index)# Create a pandas Series with values and the defined MultiIndex
print(multi_s)

Name    Subject
keshav  Math       90
        Science    82
poorvi  Math       98
        Science    99
dtype: int64

In [6]:
import pandas as pd  

# Create a list of tuples, each tuple has two values (Alphabet, Subject)
tuples = [('Keshav', 'Math'), ('Keshav', 'Science'), ('Poorvi', 'Math'), ('Poorvi', 'Science')]
index = pd.MultiIndex.from_tuples(tuples, names=('Name', 'Subject'))

multi_s = pd.Series([90, 82, 98, 99], index=index)
print(multi_s)

Name    Subject
Keshav  Math       90
        Science    82
Poorvi  Math       98
        Science    99
dtype: int64

In [7]:
index = pd.MultiIndex.from_product(
    # Create a MultiIndex using all combinations of the given lists (A/B with Math/Science) that A with both subjects & B with both subjects
    [['A', 'B'], ['Math', 'Science']],
    names=('Alphabet', 'Subject')
)
# we did it using the from_product() fucntion 

multi_s = pd.Series([90, 85, 88, 92], index=index)
print(multi_s)

Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

In [8]:
df = pd.DataFrame({
    'Alphabet': ['A', 'A', 'B', 'B'],
    'Subject': ['Math', 'Science', 'Math', 'Science']
})
index = pd.MultiIndex.from_frame(df, names=('Alphabet', 'Subject'))#naming the index names that is column names from the dictionary dataframe

# performing the same operations but instead we are not using the  from_product() function
multi_s = pd.Series([90, 85, 88, 92], index=index)
print(multi_s)

Alphabet  Subject
A         Math       90
          Science    85
B         Math       88
          Science    92
dtype: int64

In [9]:
import pandas as pd  # import pandas for tables and data handling
import numpy as np   # import numpy for numbers and random operations

# -----------------------------------------------------------
# 1. Creating a MultiIndex Series in Different Ways
# -----------------------------------------------------------

# Using arrays to create MultiIndex
letters = [
    ["X", "X", "Y", "Y"],          # first level values
    ["English", "History", "English", "History"]  # second level values
]
# Create MultiIndex from arrays, names are for levels
idx1 = pd.MultiIndex.from_arrays(letters, names=("Letter", "Subject"))  
# Create Series with values [91,86,89,93] and MultiIndex idx1
multi_series1 = pd.Series([91, 86, 89, 93], index=idx1)  
print("MultiIndex Series from arrays:\n", multi_series1, "\n")

# Using tuples to create MultiIndex
tuples_list = [
    ("X", "English"), ("X", "History"),
    ("Y", "English"), ("Y", "History")
]
# Create MultiIndex from list of tuples, names for levels
idx2 = pd.MultiIndex.from_tuples(tuples_list, names=("Letter", "Subject"))  
# Create Series with new values and MultiIndex idx2
multi_series2 = pd.Series([72, 78, 81, 84], index=idx2)  
print("MultiIndex Series from tuples:\n", multi_series2, "\n")

# Using product (all combinations of iterables)
groups = [["X", "Y"], ["English", "History"]]
# from_product makes MultiIndex of all combinations of first and second list
idx3 = pd.MultiIndex.from_product(groups, names=("Letter", "Subject"))  
# Create Series with random integers between 65 and 99 for 4 elements
multi_series3 = pd.Series(np.random.randint(65, 100, size=4), index=idx3)  
print("MultiIndex Series from product:\n", multi_series3, "\n")

# -----------------------------------------------------------
# 2. Accessing and Indexing
# -----------------------------------------------------------

# Access all subjects for first level 'X'
print("All subjects for 'X':\n", multi_series1.loc["X"], "\n")  

# Access single element at first level 'Y' and second level 'History'
print("Specific element (Y, History):\n", multi_series1.loc[("Y", "History")], "\n")  

# -----------------------------------------------------------
# 3. Slicing in MultiIndex
# -----------------------------------------------------------

# Slice from first level 'X' to 'Y' (inclusive)
print("Slicing from X to Y:\n", multi_series1.loc["X":"Y"], "\n")  

# Slice all rows (:) and select only second level "English"
print("Partial slice for all English:\n", multi_series1.loc[:, "English"], "\n")  

# -----------------------------------------------------------
# 4. Swapping and Reordering Levels
# -----------------------------------------------------------

# swaplevel switches first and second levels of MultiIndex
print("Swapped levels:\n", multi_series1.swaplevel(), "\n")  

# reorder_levels changes order to Subject first, Letter second
print("Reordered levels:\n", multi_series3.reorder_levels(["Subject", "Letter"]), "\n")  

# -----------------------------------------------------------
# 5. Passing List of Arrays directly to Series / DataFrame
# -----------------------------------------------------------

# Create Series with random values, MultiIndex from arrays
multi_auto = pd.Series(
    np.random.randn(4),  # random numbers for values
    index=pd.MultiIndex.from_arrays([["X", "X", "Y", "Y"], ["A", "B", "A", "B"]])  
)
print("Automatically created MultiIndex Series:\n", multi_auto, "\n")

# Create DataFrame with random numbers, MultiIndex for rows, 2 columns
df_auto = pd.DataFrame(
    np.random.randn(4, 2),  # 4 rows, 2 columns of random numbers
    index=pd.MultiIndex.from_arrays([["Team1", "Team1", "Team2", "Team2"],
                                     ["Alpha", "Beta", "Alpha", "Beta"]]),  # MultiIndex for rows
    columns=["Mark1", "Mark2"]  # column names
)
print("DataFrame with MultiIndex automatically:\n", df_auto, "\n")

# -----------------------------------------------------------
# 6. Data Alignment and Reindexing
# -----------------------------------------------------------

# Create a DataFrame with scores and MultiIndex rows
df = pd.DataFrame({
    "English": [86, 91, 96, 81],
    "History": [83, 89, 93, 85]
}, index=pd.MultiIndex.from_arrays([["X", "X", "Y", "Y"], ["one", "two", "one", "two"]]))  
print("Original DataFrame:\n", df, "\n")

# Group by first level (Letter) and calculate mean for each group
mean_group = df.groupby(level=0).mean()  
print("Mean by group:\n", mean_group, "\n")

# Reindex mean_group to align with original DataFrame index, using first level
aligned_df = mean_group.reindex(df.index, level=0)  
print("Reindexed DataFrame:\n", aligned_df, "\n")

# -----------------------------------------------------------
# 7. Using xs() for Cross-Section
# -----------------------------------------------------------

# xs selects rows for specific value in a level, here 'two' in second level
print("Cross-section for level 'two':\n", df.xs("two", level=1), "\n")  

# -----------------------------------------------------------
# 8. Sorting and Removing Unused Levels
# -----------------------------------------------------------

# Shuffle series randomly using sample(frac=1)
unsorted_series = multi_auto.sample(frac=1)   
print("Unsorted MultiIndex Series:\n", unsorted_series, "\n")

# Sort series by MultiIndex
print("Sorted by index:\n", unsorted_series.sort_index(), "\n")  

# Select one column to create sub-DataFrame
sub_df = df_auto[["Mark1"]]  
print("Unused levels before removing:\n", sub_df.columns.levels, "\n")

# Remove levels that are no longer used in columns
print("After remove_unused_levels:\n", sub_df.columns.remove_unused_levels().levels, "\n")

MultiIndex Series from arrays:
 Letter  Subject
X       English    91
        History    86
Y       English    89
        History    93
dtype: int64

MultiIndex Series from tuples:
 Letter  Subject
X       English    72
        History    78
Y       English    81
        History    84
dtype: int64

MultiIndex Series from product:
 Letter  Subject
X       English    66
        History    74
Y       English    67
        History    73
dtype: int64

All subjects for 'X':
 Subject
English    91
History    86
dtype: int64

Specific element (Y, History):
 93

Slicing from X to Y:
 Letter  Subject
X       English    91
        History    86
Y       English    89
        History    93
dtype: int64

Partial slice for all English:
 Letter
X    91
Y    89
dtype: int64

Swapped levels:
 Subject  Letter
English  X         91
History  X         86
English  Y         89
History  Y         93
dtype: int64

Reordered levels:
 Subject  Letter
English  X         66
History  X         74
English  Y         67
History  Y         73
dtype: int64

Automatically created MultiIndex Series:
 X  A    0.795108
   B   -0.730162
Y  A   -1.091815
   B   -1.625405
dtype: float64

DataFrame with MultiIndex automatically:
                 Mark1     Mark2
Team1 Alpha -0.381781  0.333308
      Beta  -0.547869 -1.021031
Team2 Alpha  0.516949 -1.644615
      Beta   0.435572  1.251459

Original DataFrame:
        English  History
X one       86       83
  two       91       89
Y one       96       93
  two       81       85

Mean by group:
    English  History
X     88.5     86.0
Y     88.5     89.0

Reindexed DataFrame:
        English  History
X one     88.5     86.0
  two     88.5     86.0
Y one     88.5     89.0
  two     88.5     89.0

Cross-section for level 'two':
    English  History
X       91       89
Y       81       85

Unsorted MultiIndex Series:
 X  A    0.795108
   B   -0.730162
Y  B   -1.625405
   A   -1.091815
dtype: float64

Sorted by index:
 X  A    0.795108
   B   -0.730162
Y  A   -1.091815
   B   -1.625405
dtype: float64

AttributeError: 'Index' object has no attribute 'levels'

In [40]:
# Program 1: Creating MultiIndex Series in different ways
import pandas as pd  # import pandas for tables and data handling
import numpy as np   # import numpy for numbers and random operations

# -----------------------------------------------------------
# 1. Using arrays to create MultiIndex
# -----------------------------------------------------------
letters = [["X", "X", "Y", "Y"], ["English", "History", "English", "History"]]  # first and second level values
# from_arrays creates MultiIndex using lists, names assigns names to levels
idx1 = pd.MultiIndex.from_arrays(letters, names=("Letter", "Subject"))  
# create Series with values [91,86,89,93] and the MultiIndex idx1
multi_series1 = pd.Series([91, 86, 89, 93], index=idx1)  
print("MultiIndex Series from arrays:\n", multi_series1, "\n")

# -----------------------------------------------------------
# 2. Using tuples to create MultiIndex
# -----------------------------------------------------------
tuples_list = [("X", "English"), ("X", "History"), ("Y", "English"), ("Y", "History")]  
# from_tuples creates MultiIndex from list of tuples, names assigns level names
idx2 = pd.MultiIndex.from_tuples(tuples_list, names=("Letter", "Subject"))  
# create Series with new values and the MultiIndex idx2
multi_series2 = pd.Series([73, 77, 82, 85], index=idx2)  
print("MultiIndex Series from tuples:\n", multi_series2, "\n")

# -----------------------------------------------------------
# 3. Using product (Cartesian product of iterables)
# -----------------------------------------------------------
groups = [["X", "Y"], ["English", "History"]]  # first and second level options
# from_product creates MultiIndex for all possible combinations of first and second lists
idx3 = pd.MultiIndex.from_product(groups, names=("Letter", "Subject"))  
# create Series with 4 random integers between 65-99
multi_series3 = pd.Series(np.random.randint(65, 100, size=4), index=idx3)  
print("MultiIndex Series from product:\n", multi_series3, "\n")

MultiIndex Series from arrays:
 Letter  Subject
X       English    91
        History    86
Y       English    89
        History    93
dtype: int64

MultiIndex Series from tuples:
 Letter  Subject
X       English    73
        History    77
Y       English    82
        History    85
dtype: int64

MultiIndex Series from product:
 Letter  Subject
X       English    89
        History    92
Y       English    90
        History    95
dtype: int64

In [ ]:
import pandas as pd  # import pandas for data tables and MultiIndex handling
import numpy as np   # import numpy for numbers and random operations

# ------------------------------------------
# Example 1: Creating a MultiIndex directly from arrays
# ------------------------------------------
letters = [
    ["X", "X", "Y", "Y"],  # first level values
    ["English", "History", "English", "History"]  # second level values
]
# from_arrays makes MultiIndex from lists, names assigns names to levels
idx1 = pd.MultiIndex.from_arrays(letters, names=("Letter", "Subject"))

# Create DataFrame with 4 rows, 2 columns, random integers between 50-99
df1 = pd.DataFrame(
    np.random.randint(50, 100, size=(4, 2)),  # 4x2 matrix of random numbers
    index=idx1,  # set MultiIndex as rows
    columns=["ScoreA", "ScoreB"]  # column names
)
print("Example 1: MultiIndex from arrays\n", df1, "\n")

# ------------------------------------------
# Example 2: Creating a MultiIndex from tuples
# ------------------------------------------
tuples_list = [
    ("X", "English"),
    ("X", "History"),
    ("Y", "English"),
    ("Y", "History")
]
# from_tuples makes MultiIndex from a list of tuples
idx2 = pd.MultiIndex.from_tuples(tuples_list, names=("Letter", "Subject"))

# Create DataFrame with random floats (normal distribution)
df2 = pd.DataFrame(
    np.random.randn(4, 2),  # 4x2 random numbers ~N(0,1)
    index=idx2,  # MultiIndex rows
    columns=["ValueA", "ValueB"]  # column names
)
print("Example 2: MultiIndex from tuples\n", df2, "\n")

# ------------------------------------------
# Example 3: Creating a MultiIndex from product
# ------------------------------------------
# from_product creates MultiIndex from all combinations of first and second list
idx3 = pd.MultiIndex.from_product(
    [["Team1", "Team2"], ["English", "History"]],  # first and second level options
    names=("Team", "Subject")  # level names
)

# Create DataFrame with random integers from 1 to 9
df3 = pd.DataFrame(
    np.random.randint(1, 10, size=(4, 2)),  # 4x2 random integers
    index=idx3,  # MultiIndex rows
    columns=["ColA", "ColB"]  # column names
)
print("Example 3: MultiIndex from product\n", df3, "\n")

# ------------------------------------------
# Example 4: Creating MultiIndex directly from DataFrame columns
# ------------------------------------------
data_dict = {
    "Team": ["X", "X", "Y", "Y"],  # first column to become index
    "Subject": ["English", "History", "English", "History"],  # second column to become index
    "Score": [87, 91, 84, 89]  # values
}

# Create DataFrame
df4 = pd.DataFrame(data_dict)
# set_index makes columns into MultiIndex, in order: Team, Subject
df4 = df4.set_index(["Team", "Subject"])  
print("Example 4: MultiIndex created from DataFrame columns\n", df4, "\n")

In [10]:
# Program 2: Accessing and Indexing in MultiIndex Series
import pandas as pd  # import pandas for data tables and MultiIndex handling

# Create MultiIndex from arrays
letters = [["X", "X", "Y", "Y"], ["English", "History", "English", "History"]]  # first and second level
# from_arrays creates MultiIndex from lists, names assigns names to levels
idx = pd.MultiIndex.from_arrays(letters, names=("Letter", "Subject"))  

# Create Series with values for each MultiIndex
multi_series = pd.Series([91, 86, 89, 93], index=idx)  # values for each combination
print("MultiIndex Series:\n", multi_series, "\n")

# Access all subjects for first level 'X'
# loc["X"] selects all rows where first level is 'X'
print("Access all subjects for 'X':\n", multi_series.loc["X"], "\n")  

# Access specific element at first level 'Y' and second level 'History'
# loc[("Y", "History")] selects the exact row matching both levels
print("Access specific element (Y, History):\n", multi_series.loc[("Y", "History")], "\n")

MultiIndex Series:
 Letter  Subject
X       English    91
        History    86
Y       English    89
        History    93
dtype: int64

Access all subjects for 'X':
 Subject
English    91
History    86
dtype: int64

Access specific element (Y, History):
 93

In [11]:
# Program 3: Slicing in MultiIndex Series
import pandas as pd  # import pandas for MultiIndex and Series handling

# Create MultiIndex from arrays
letters = [["X", "X", "Y", "Y"], ["English", "History", "English", "History"]]  # first and second level values
# from_arrays creates MultiIndex from lists, names assigns names to levels
idx = pd.MultiIndex.from_arrays(letters, names=("Letter", "Subject"))  

# Create Series with values for each MultiIndex
multi_series = pd.Series([91, 86, 89, 94], index=idx)  # values for each combination
print("MultiIndex Series:\n", multi_series, "\n")

# Slice from first level 'X' to 'Y' (inclusive)
# loc["X":"Y"] selects all rows where first level is between 'X' and 'Y'
print("Slicing from X to Y:\n", multi_series.loc["X":"Y"], "\n")  

# Partial slice: select all rows (:) and only second level "English"
# loc[:, "English"] selects all first-level values but only second-level "English"
print("Partial slice for all English:\n", multi_series.loc[:, "English"], "\n")

MultiIndex Series:
 Letter  Subject
X       English    91
        History    86
Y       English    89
        History    94
dtype: int64

Slicing from X to Y:
 Letter  Subject
X       English    91
        History    86
Y       English    89
        History    94
dtype: int64

Partial slice for all English:
 Letter
X    91
Y    89
dtype: int64

In [12]:
# Program 4: Swapping and reordering levels in MultiIndex Series
import pandas as pd  # import pandas for MultiIndex and Series

# Create MultiIndex from arrays
letters = [["X", "X", "Y", "Y"], ["English", "History", "English", "History"]]  # first and second level
# from_arrays creates MultiIndex from lists, names assigns names to levels
idx = pd.MultiIndex.from_arrays(letters, names=("Letter", "Subject"))  

# Create Series with values for each MultiIndex
multi_series = pd.Series([91, 86, 89, 94], index=idx)  # values for each combination
print("Original MultiIndex Series:\n", multi_series, "\n")

# Swap levels: first level becomes second, second becomes first
# swaplevel() swaps all MultiIndex levels by default
print("Swapping levels:\n", multi_series.swaplevel(), "\n")  

# Reorder levels explicitly: put "Subject" first, "Letter" second
# reorder_levels() changes order of MultiIndex levels as specified
print("Reordering levels:\n", multi_series.reorder_levels(["Subject", "Letter"]), "\n")

Original MultiIndex Series:
 Letter  Subject
X       English    91
        History    86
Y       English    89
        History    94
dtype: int64

Swapping levels:
 Subject  Letter
English  X         91
History  X         86
English  Y         89
History  Y         94
dtype: int64

Reordering levels:
 Subject  Letter
English  X         91
History  X         86
English  Y         89
History  Y         94
dtype: int64

In [13]:
# Program 5: Passing arrays directly to create MultiIndex in Series/DataFrame
import pandas as pd  # import pandas for MultiIndex handling
import numpy as np   # import numpy for numbers and random values

# -----------------------------------------------------------
# Create a Series with automatic MultiIndex
# -----------------------------------------------------------
# from_arrays creates MultiIndex from lists
# np.random.randn(4) creates 4 random numbers from standard normal distribution
multi_series_auto = pd.Series(
    np.random.randn(4),  
    index=pd.MultiIndex.from_arrays([["X", "X", "Y", "Y"], ["A", "B", "A", "B"]])  # MultiIndex rows
)
print("MultiIndex Series constructed automatically:\n", multi_series_auto, "\n")

# -----------------------------------------------------------
# Create a DataFrame with automatic MultiIndex
# -----------------------------------------------------------
# 4 rows, 2 columns of random numbers
df_auto = pd.DataFrame(
    np.random.randn(4, 2),  
    # MultiIndex for rows with first level: Group, second level: subgroup
    index=pd.MultiIndex.from_arrays([["Team1", "Team1", "Team2", "Team2"],
                                     ["Alpha", "Beta", "Alpha", "Beta"]]),  
    columns=["Mark1", "Mark2"]  # column names
)
print("DataFrame with MultiIndex automatically:\n", df_auto, "\n")

MultiIndex Series constructed automatically:
 X  A   -1.196622
   B   -0.399178
Y  A   -0.403047
   B    1.926423
dtype: float64

DataFrame with MultiIndex automatically:
                 Mark1     Mark2
Team1 Alpha -0.264709  1.224479
      Beta   0.130818  1.055175
Team2 Alpha  0.626014 -0.729268
      Beta   0.198984 -0.121204

In [14]:
# Program 6: Data alignment and reindexing with MultiIndex
import pandas as pd  # import pandas for DataFrame and MultiIndex handling

# -----------------------------------------------------------
# Create a DataFrame with MultiIndex rows
# -----------------------------------------------------------
# MultiIndex rows: first level = Letter, second level = Number
# Values for each combination in columns "English" and "History"
df = pd.DataFrame({
    "English": [86, 91, 96, 81],  # first column values
    "History": [83, 89, 93, 85]   # second column values
}, index=pd.MultiIndex.from_arrays([["X", "X", "Y", "Y"], ["one", "two", "one", "two"]]))  
print("Original DataFrame:\n", df, "\n")

# -----------------------------------------------------------
# Group by first level (Letter) and compute mean for each group
# -----------------------------------------------------------
# groupby(level=0) groups rows by first level of MultiIndex ('X' and 'Y')
# mean() calculates average for each group
mean_group = df.groupby(level=0).mean()  
print("Mean by group:\n", mean_group, "\n")

# -----------------------------------------------------------
# Reindexing to align with original MultiIndex
# -----------------------------------------------------------
# reindex(df.index, level=0) aligns the grouped DataFrame back to original MultiIndex rows
aligned_df = mean_group.reindex(df.index, level=0)  
print("Reindexed to align with original index:\n", aligned_df, "\n")

Original DataFrame:
        English  History
X one       86       83
  two       91       89
Y one       96       93
  two       81       85

Mean by group:
    English  History
X     88.5     86.0
Y     88.5     89.0

Reindexed to align with original index:
        English  History
X one     88.5     86.0
  two     88.5     86.0
Y one     88.5     89.0
  two     88.5     89.0

In [15]:
# Program 8: Sorting MultiIndex and removing unused levels
import pandas as pd  # import pandas for MultiIndex and DataFrame handling
import numpy as np   # import numpy for numbers and random values

# -----------------------------------------------------------
# Create an unsorted MultiIndex Series
# -----------------------------------------------------------
# np.random.randn(4) generates 4 random numbers from standard normal distribution
# MultiIndex rows: first level B/A, second level X/Y
multi_series = pd.Series(
    np.random.randn(4),  
    index=pd.MultiIndex.from_arrays([["Y", "X", "Y", "X"], ["A", "B", "B", "A"]])  
)
print("Unsorted MultiIndex Series:\n", multi_series, "\n")

# Sort the Series by MultiIndex
# sort_index() sorts the rows based on MultiIndex levels
print("Sorted by index:\n", multi_series.sort_index(), "\n")

# -----------------------------------------------------------
# Removing unused levels in DataFrame columns
# -----------------------------------------------------------
# Create a DataFrame with MultiIndex columns and rows
df = pd.DataFrame(
    np.random.randn(4, 2),  # 4 rows, 2 columns of random numbers
    index=pd.MultiIndex.from_arrays([["Team1", "Team1", "Team2", "Team2"], ["Alpha", "Beta", "Alpha", "Beta"]]),  # row MultiIndex
    columns=pd.MultiIndex.from_arrays([["Mark1", "Mark2"], ["X", "Y"]])  # column MultiIndex
)
print("Before removing unused levels:\n", df.columns.levels, "\n")

# Select only 'Mark1' column, leaving some levels unused
sub_df = df[["Mark1"]]  

# remove_unused_levels() removes column MultiIndex levels not used in sub_df
print("After removing unused levels:\n", sub_df.columns.remove_unused_levels().levels, "\n")

Unsorted MultiIndex Series:
 Y  A   -0.076388
X  B   -0.711644
Y  B   -1.855842
X  A    0.520507
dtype: float64

Sorted by index:
 X  A    0.520507
   B   -0.711644
Y  A   -0.076388
   B   -1.855842
dtype: float64

Before removing unused levels:
 [['Mark1', 'Mark2'], ['X', 'Y']]

After removing unused levels:
 [['Mark1'], ['X']]

# Program 1: Creating DataFrames (different ways)

In [16]:
# Program 1: Creating DataFrames in different ways
import pandas as pd  # import pandas for DataFrame handling
import numpy as np   # import numpy for arrays and numerical operations

# ------------------------------------------
# 1. From dictionary of lists
# ------------------------------------------
# Each key is a column name, each list contains column values
data_dict = {"Person": ["Alice", "Bob", "Charlie"],  # Names of people
             "Age": [24, 27, 22],                   # Age values
             "Score": [85, 90, 88]}                 # Scores
# Create DataFrame from dictionary
df1 = pd.DataFrame(data_dict)
print("DataFrame from dictionary of lists:\n", df1, "\n")

# ------------------------------------------
# 2. From dictionary of Series
# ------------------------------------------
# Each key is a column name, each Series has values with custom index
data_series = {"Math": pd.Series([91, 81, 86], index=["Alice", "Bob", "Charlie"]),  # Math scores
               "Science": pd.Series([89, 93, 85], index=["Alice", "Bob", "Charlie"])}  # Science scores
# Create DataFrame from dictionary of Series
df2 = pd.DataFrame(data_series)
print("DataFrame from dictionary of Series:\n", df2, "\n")

# ------------------------------------------
# 3. From NumPy array
# ------------------------------------------
# np.arange(9) generates numbers 0-8, reshape(3,3) makes a 3x3 array
# columns assigns names to each column
df3 = pd.DataFrame(np.arange(9).reshape(3, 3),
                   columns=["ColA", "ColB", "ColC"])
print("DataFrame from NumPy array:\n", df3, "\n")

DataFrame from dictionary of lists:
     Person  Age  Score
0    Alice   24     85
1      Bob   27     90
2  Charlie   22     88

DataFrame from dictionary of Series:
          Math  Science
Alice      91       89
Bob        81       93
Charlie    86       85

DataFrame from NumPy array:
    ColA  ColB  ColC
0     0     1     2
1     3     4     5
2     6     7     8

In [17]:
# Program 2: Accessing rows and columns in a DataFrame
import pandas as pd  # import pandas for DataFrame handling

# -----------------------------------------------------------
# Create DataFrame from dictionary
# -----------------------------------------------------------
data_dict = {"Person": ["Keshav", "Poorvi", "Jaishwant", "Shri"],  # Names
             "Age": [24, 27, 22, 30],                        # Ages
             "Score": [85, 90, 88, 95]}                      # Scores
df = pd.DataFrame(data_dict)  # create DataFrame from dictionary
print("Original DataFrame:\n", df, "\n")

# -----------------------------------------------------------
# Access single column
# -----------------------------------------------------------
# df["Score"] selects column named 'Score'
print("Accessing single column (Score):\n", df["Score"], "\n")

# -----------------------------------------------------------
# Access multiple columns
# -----------------------------------------------------------
# df[["Name", "Age"]] selects multiple columns by list of names
print("Accessing multiple columns:\n", df[["Person", "Age"]], "\n")

# -----------------------------------------------------------
# Access row by index label
# -----------------------------------------------------------
# df.loc[2] selects the row where index label is 2 (3rd row)
print("Access row using loc:\n", df.loc[2], "\n")

# -----------------------------------------------------------
# Access row by integer location
# -----------------------------------------------------------
# df.iloc[1] selects the row at position 1 (2nd row)
print("Access row using iloc:\n", df.iloc[1], "\n")

Original DataFrame:
       Person  Age  Score
0     Keshav   24     85
1     Poorvi   27     90
2  Jaishwant   22     88
3       Shri   30     95

Accessing single column (Score):
 0    85
1    90
2    88
3    95
Name: Score, dtype: int64

Accessing multiple columns:
       Person  Age
0     Keshav   24
1     Poorvi   27
2  Jaishwant   22
3       Shri   30

Access row using loc:
 Person    Jaishwant
Age              22
Score            88
Name: 2, dtype: object

Access row using iloc:
 Person    Poorvi
Age           27
Score         90
Name: 1, dtype: object

In [18]:
# Program 3: Indexing and Slicing in DataFrame
import pandas as pd  # import pandas for DataFrame handling

# -----------------------------------------------------------
# Create DataFrame with Indian names
# -----------------------------------------------------------
data_dict = {"Person": ["Keshav", "Poorvi", "Jaishwant", "Shri", "Yash"],  # names
             "Age": [24, 27, 22, 30, 26],                                 # Ages
             "Score": [85, 90, 88, 95, 92]}                               # Scores
df = pd.DataFrame(data_dict)
print("Original DataFrame:\n", df, "\n")

# -----------------------------------------------------------
# Slicing first three rows
# -----------------------------------------------------------
# df[:3] selects first 3 rows by position
print("First three rows:\n", df[:3], "\n")

# -----------------------------------------------------------
# Slicing specific rows using loc
# -----------------------------------------------------------
# df.loc[1:3] selects rows with index labels from 1 to 3 (inclusive)
print("Rows 1 to 3:\n", df.loc[1:3], "\n")

# -----------------------------------------------------------
# Slicing specific columns
# -----------------------------------------------------------
# df.loc[:, ["Person", "Score"]] selects all rows (:) and specific columns
print("Columns Person and Score:\n", df.loc[:, ["Person", "Score"]], "\n")

# -----------------------------------------------------------
# Conditional selection
# -----------------------------------------------------------
# df[df["Score"] > 88] selects rows where Score column value is greater than 88
print("Rows where Score > 88:\n", df[df["Score"] > 88], "\n")

Original DataFrame:
       Person  Age  Score
0     Keshav   24     85
1     Poorvi   27     90
2  Jaishwant   22     88
3       Shri   30     95
4       Yash   26     92

First three rows:
       Person  Age  Score
0     Keshav   24     85
1     Poorvi   27     90
2  Jaishwant   22     88

Rows 1 to 3:
       Person  Age  Score
1     Poorvi   27     90
2  Jaishwant   22     88
3       Shri   30     95

Columns Person and Score:
       Person  Score
0     Keshav     85
1     Poorvi     90
2  Jaishwant     88
3       Shri     95
4       Yash     92

Rows where Score > 88:
    Person  Age  Score
1  Poorvi   27     90
3    Shri   30     95
4    Yash   26     92

In [19]:
# Program 4: Adding, Updating, and Deleting Data in DataFrame
import pandas as pd  # import pandas for DataFrame handling

# -----------------------------------------------------------
# Create initial DataFrame
# -----------------------------------------------------------
df = pd.DataFrame({"Person": ["Keshav", "Poorvi", "Jaishwant"],  # names
                   "Age": [24, 27, 22]})                          # Age values
print("Original DataFrame:\n", df, "\n")

# -----------------------------------------------------------
# Adding new column
# -----------------------------------------------------------
# Add 'Score' column with values for each row
df["Score"] = [85, 90, 88]
print("After adding Score column:\n", df, "\n")

# -----------------------------------------------------------
# Updating values
# -----------------------------------------------------------
# df.at[1, "Age"] = 28 updates Age of row with index 1 (Poorvi) to 28
df.at[1, "Age"] = 28
print("After updating Age of Poorvi:\n", df, "\n")

# -----------------------------------------------------------
# Deleting column
# -----------------------------------------------------------
# df.drop("Score", axis=1) removes the column 'Score'
df = df.drop("Score", axis=1)
print("After deleting Score column:\n", df, "\n")

# -----------------------------------------------------------
# Deleting row
# -----------------------------------------------------------
# df.drop(2, axis=0) removes row with index 2 (Jaishwant)
df = df.drop(2, axis=0)
print("After deleting row with index 2:\n", df, "\n")

Original DataFrame:
       Person  Age
0     Keshav   24
1     Poorvi   27
2  Jaishwant   22

After adding Score column:
       Person  Age  Score
0     Keshav   24     85
1     Poorvi   27     90
2  Jaishwant   22     88

After updating Age of Poorvi:
       Person  Age  Score
0     Keshav   24     85
1     Poorvi   28     90
2  Jaishwant   22     88

After deleting Score column:
       Person  Age
0     Keshav   24
1     Poorvi   28
2  Jaishwant   22

After deleting row with index 2:
    Person  Age
0  Keshav   24
1  Poorvi   28

In [20]:
# Program 5: Handling Missing Data in DataFrame
import pandas as pd  # import pandas for DataFrame handling
import numpy as np   # import numpy for NaN and numerical operations

# -----------------------------------------------------------
# Create DataFrame with some missing values (NaN)
# -----------------------------------------------------------
df = pd.DataFrame({"Person": ["Keshav", "Poorvi", "Jaishwant"],  # names
                   "Age": [24, np.nan, 22],                        # np.nan represents missing value
                   "Score": [85, 90, np.nan]})                     # np.nan represents missing value
print("Original DataFrame with NaN values:\n", df, "\n")

# -----------------------------------------------------------
# Detect missing values
# -----------------------------------------------------------
# isnull() returns True for each missing (NaN) value
print("Detect missing values:\n", df.isnull(), "\n")

# -----------------------------------------------------------
# Fill missing values
# -----------------------------------------------------------
# fillna(0) replaces all NaN values with 0
print("Fill missing values:\n", df.fillna(0), "\n")

# -----------------------------------------------------------
# Drop rows with missing values
# -----------------------------------------------------------
# dropna() removes rows that contain any NaN value
print("Drop rows with missing values:\n", df.dropna(), "\n")

Original DataFrame with NaN values:
       Person   Age  Score
0     Keshav  24.0   85.0
1     Poorvi   NaN   90.0
2  Jaishwant  22.0    NaN

Detect missing values:
    Person    Age  Score
0   False  False  False
1   False   True  False
2   False  False   True

Fill missing values:
       Person   Age  Score
0     Keshav  24.0   85.0
1     Poorvi   0.0   90.0
2  Jaishwant  22.0    0.0

Drop rows with missing values:
    Person   Age  Score
0  Keshav  24.0   85.0

In [21]:
# Program 6: Data Alignment and Reindexing in DataFrame
import pandas as pd  # import pandas for DataFrame handling

# -----------------------------------------------------------
# Create two DataFrames with overlapping and non-overlapping indices
# -----------------------------------------------------------
df1 = pd.DataFrame({"Score": [85, 90, 88]}, index=["Keshav", "Poorvi", "Jaishwant"])  # DataFrame 1
df2 = pd.DataFrame({"Score": [92, 80]}, index=["Poorvi", "Shri"])                     # DataFrame 2

print("DataFrame 1:\n", df1, "\n")
print("DataFrame 2:\n", df2, "\n")

# -----------------------------------------------------------
# Automatic alignment in arithmetic
# -----------------------------------------------------------
# When adding df1 + df2, pandas aligns rows by index; non-overlapping indices become NaN
print("Adding df1 and df2:\n", df1 + df2, "\n")

# -----------------------------------------------------------
# Reindexing
# -----------------------------------------------------------
# Reindex to include all desired indices; fill_value=0 replaces missing rows with 0
df3 = df1.reindex(["Keshav", "Poorvi", "Jaishwant", "Shri"], fill_value=0)
print("Reindexed DataFrame:\n", df3, "\n")

DataFrame 1:
            Score
Keshav        85
Poorvi        90
Jaishwant     88

DataFrame 2:
         Score
Poorvi     92
Shri       80

Adding df1 and df2:
            Score
Jaishwant    NaN
Keshav       NaN
Poorvi     182.0
Shri         NaN

Reindexed DataFrame:
            Score
Keshav        85
Poorvi        90
Jaishwant     88
Shri           0

In [22]:
# Program 7: Sorting and Grouping in DataFrame
import pandas as pd  # import pandas for DataFrame handling

# -----------------------------------------------------------
# Create DataFrame with Indian names
# -----------------------------------------------------------
data_dict = {"Person": ["Keshav", "Poorvi", "Jaishwant", "Shri", "Yash"],  # names
             "Age": [24, 27, 22, 30, 26],                                 # Ages
             "Score": [85, 90, 88, 95, 92]}                               # Scores
df = pd.DataFrame(data_dict)
print("Original DataFrame:\n", df, "\n")

# -----------------------------------------------------------
# Sorting by a column
# -----------------------------------------------------------
# sort_values(by="Score") sorts rows based on 'Score' column in ascending order
print("Sorted by Score:\n", df.sort_values(by="Score"), "\n")

# -----------------------------------------------------------
# Grouping data
# -----------------------------------------------------------
# groupby("Age") groups rows by 'Age'; ["Score"].mean() calculates average Score for each Age group
grouped = df.groupby("Age")["Score"].mean()
print("Average score grouped by Age:\n", grouped, "\n")

Original DataFrame:
       Person  Age  Score
0     Keshav   24     85
1     Poorvi   27     90
2  Jaishwant   22     88
3       Shri   30     95
4       Yash   26     92

Sorted by Score:
       Person  Age  Score
0     Keshav   24     85
2  Jaishwant   22     88
1     Poorvi   27     90
4       Yash   26     92
3       Shri   30     95

Average score grouped by Age:
 Age
22    88.0
24    85.0
26    92.0
27    90.0
30    95.0
Name: Score, dtype: float64

In [23]:
# Grouping Example - Series
import pandas as pd  # import pandas for Series and grouping

# -----------------------------------------------------------
# Salary Series
# -----------------------------------------------------------
# Values are salaries of each person
salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Keshav", "Poorvi", "Jaishwant", "Shri"])  # names

# -----------------------------------------------------------
# Department Series
# -----------------------------------------------------------
# Each person belongs to a department
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Keshav", "Poorvi", "Jaishwant", "Shri"])

# -----------------------------------------------------------
# Grouping salary by department (without aggregation yet)
# -----------------------------------------------------------
grouped_salary = salary.groupby(department)  # groups salaries according to department
print("Grouped Series (just groups, no aggregation):\n", grouped_salary, "\n")

# -----------------------------------------------------------
# Accessing a specific group
# -----------------------------------------------------------
# get_group("HR") returns all salaries for HR department
print("HR group in Series:\n", grouped_salary.get_group("HR"), "\n")

Grouped Series (just groups, no aggregation):
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x12b1dcd70>

HR group in Series:
 Keshav    50000
Poorvi    55000
dtype: int64

In [24]:
# Aggregation Example - Series
import pandas as pd  # import pandas for Series and grouping

# -----------------------------------------------------------
# Salary Series with Indian names
# -----------------------------------------------------------
salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Keshav", "Poorvi", "Jaishwant", "Shri"])  # names

# Department for each person
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Keshav", "Poorvi", "Jaishwant", "Shri"])

# -----------------------------------------------------------
# Grouping salary by department
# -----------------------------------------------------------
grouped_salary = salary.groupby(department)  # group salaries by department

# -----------------------------------------------------------
# Aggregation: compute mean salary per department
# -----------------------------------------------------------
aggregated_mean = grouped_salary.mean()  # mean() calculates average salary per group
print("Aggregated Series (mean salary per department):\n", aggregated_mean, "\n")

# -----------------------------------------------------------
# Other aggregation examples
# -----------------------------------------------------------
# sum() calculates total salary per department
print("Sum per department:\n", grouped_salary.sum(), "\n")

# max() calculates maximum salary per department
print("Max per department:\n", grouped_salary.max(), "\n")

Aggregated Series (mean salary per department):
 HR    52500.0
IT    61000.0
dtype: float64

Sum per department:
 HR    105000
IT    122000
dtype: int64

Max per department:
 HR    55000
IT    62000
dtype: int64

In [25]:
# Example: Grouping and Aggregating for Series / MultiLevel Series
import pandas as pd  # import pandas for Series and MultiIndex handling

# -----------------------------------------------------------
# Single Series Example
# -----------------------------------------------------------
# Salary values for each person
salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Keshav", "Poorvi", "Jaishwant", "Shri"])  # names

# Department for each person
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Keshav", "Poorvi", "Jaishwant", "Shri"])

# Grouping salaries by department and calculating mean
grouped_series = salary.groupby(department).mean()  # groupby() + mean()
print("Mean salary by department (Series):\n", grouped_series, "\n")

# -----------------------------------------------------------
# MultiLevel Series Example
# -----------------------------------------------------------
# MultiIndex: first level = Department, second level = Employee
arrays = [
    ["HR", "HR", "IT", "IT"],                      # Departments
    ["Keshav", "Poorvi", "Jaishwant", "Shri"]      # Employees
]
index = pd.MultiIndex.from_arrays(arrays, names=("Dept", "Employee"))

# Create MultiLevel Series with salaries
multi_s = pd.Series([50000, 55000, 60000, 62000], index=index)

# Group by first level (Dept) and calculate mean
grouped_multi = multi_s.groupby(level=0).mean()  # level=0 means first index level
print("Mean salary by department (MultiLevel Series):\n", grouped_multi, "\n")

Mean salary by department (Series):
 HR    52500.0
IT    61000.0
dtype: float64

Mean salary by department (MultiLevel Series):
 Dept
HR    52500.0
IT    61000.0
dtype: float64

In [26]:
# Grouping Example - DataFrame
import pandas as pd  # import pandas for DataFrame and grouping

# -----------------------------------------------------------
# Create DataFrame with Department, Employee, and Salary
# -----------------------------------------------------------
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],                    # Departments
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri"],     # Employee names
    "Salary": [50000, 55000, 60000, 62000]                     # Salary values
})

# -----------------------------------------------------------
# Grouping by Department (no aggregation yet)
# -----------------------------------------------------------
grouped_df = df.groupby("Department")  # group rows by 'Department'
print("Grouped DataFrame (just groups, no aggregation):\n", grouped_df, "\n")

# -----------------------------------------------------------
# Accessing a specific group
# -----------------------------------------------------------
# get_group("HR") returns all rows for HR department
print("HR group in DataFrame:\n", grouped_df.get_group("HR"), "\n")

Grouped DataFrame (just groups, no aggregation):
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x12b1d74d0>

HR group in DataFrame:
   Department Employee  Salary
0         HR   Keshav   50000
1         HR   Poorvi   55000

In [27]:
# Aggregation Example - DataFrame
import pandas as pd  # import pandas for DataFrame and aggregation

# -----------------------------------------------------------
# Create DataFrame with Department, Employee, and Salary
# -----------------------------------------------------------
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],                    # Departments
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri"],     # Employee names
    "Salary": [50000, 55000, 60000, 62000]                     # Salary values
})

# -----------------------------------------------------------
# Group by Department
# -----------------------------------------------------------
grouped_df = df.groupby("Department")  # group rows by 'Department'

# -----------------------------------------------------------
# Aggregation: compute mean salary per department
# -----------------------------------------------------------
aggregated_mean = grouped_df["Salary"].mean()  # mean() calculates average salary per group
print("Aggregated DataFrame (mean salary per department):\n", aggregated_mean, "\n")

# -----------------------------------------------------------
# Multiple aggregations on grouped DataFrame
# -----------------------------------------------------------
# agg() allows multiple aggregation functions at once
multi_agg_df = grouped_df.agg({
    "Salary": ["mean", "sum", "max"]  # calculate mean, sum, and max for 'Salary'
})
print("Aggregated DataFrame (multiple stats):\n", multi_agg_df, "\n")

Aggregated DataFrame (mean salary per department):
 Department
HR    52500.0
IT    61000.0
Name: Salary, dtype: float64

Aggregated DataFrame (multiple stats):
              Salary
               mean     sum    max
Department
HR          52500.0  105000  55000
IT          61000.0  122000  62000

In [28]:
# Grouping, Aggregating, and Filtering DataFrame
import pandas as pd  # import pandas for DataFrame handling

# -----------------------------------------------------------
# Sample DataFrame with Indian names
# -----------------------------------------------------------
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],                   # Departments
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri", "Yash", "Anika"],  # Names
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000],                 # Salaries
    "Bonus": [5000, 6000, 7000, 8000, 5500, 7500]                         # Bonuses
})

print("Original DataFrame:\n", df, "\n")

# -----------------------------------------------------------
# Grouping by Department (no aggregation yet)
# -----------------------------------------------------------
grouped = df.groupby("Department")  # group rows by 'Department'
print("Groups formed:\n", grouped.groups, "\n")

# Access a specific group
# get_group("HR") returns all rows for HR department
print("HR group:\n", grouped.get_group("HR"), "\n")

# -----------------------------------------------------------
# Aggregating after grouping
# -----------------------------------------------------------
# 1. Single aggregation: mean salary per department
mean_salary = grouped["Salary"].mean()  # mean() calculates average salary
print("Mean Salary per Department:\n", mean_salary, "\n")

# 2. Multiple aggregations on Salary and Bonus
agg_stats = grouped.agg({
    "Salary": ["mean", "max", "min"],  # mean, max, min of Salary
    "Bonus": ["sum", "mean"]           # sum and mean of Bonus
})
print("Aggregated stats per Department:\n", agg_stats, "\n")

# -----------------------------------------------------------
# Optional: filtering groups (e.g., mean salary > 55000)
# -----------------------------------------------------------
# filter() keeps groups where the condition is True
high_salary_dept = grouped.filter(lambda x: x["Salary"].mean() > 55000)
print("Departments with mean salary > 55000:\n", high_salary_dept, "\n")

Original DataFrame:
   Department   Employee  Salary  Bonus
0         HR     Keshav   50000   5000
1         HR     Poorvi   55000   6000
2         IT  Jaishwant   60000   7000
3         IT       Shri   62000   8000
4         HR       Yash   58000   5500
5         IT      Anika   61000   7500

Groups formed:
 {'HR': [0, 1, 4], 'IT': [2, 3, 5]}

HR group:
   Department Employee  Salary  Bonus
0         HR   Keshav   50000   5000
1         HR   Poorvi   55000   6000
4         HR     Yash   58000   5500

Mean Salary per Department:
 Department
HR    54333.333333
IT    61000.000000
Name: Salary, dtype: float64

Aggregated stats per Department:
                   Salary                Bonus
                    mean    max    min    sum    mean
Department
HR          54333.333333  58000  50000  16500  5500.0
IT          61000.000000  62000  60000  22500  7500.0

Departments with mean salary > 55000:
   Department   Employee  Salary  Bonus
2         IT  Jaishwant   60000   7000
3         IT       Shri   62000   8000
5         IT      Anika   61000   7500

# Difference between grouping/ aggregating in series and dataframes
# In grouping, a Series can be grouped only by another Series or index level, while a DataFrame can be grouped by one or more columns.

# Series aggregation operates on a single column and returns a Series, whereas DataFrame aggregation can operate on multiple columns and return a DataFrame.

# Series is simpler and suitable for single-column data, while DataFrame is more powerful for handling complex, multi-column datasets.

In [29]:
# Grouping a Series by another Series
import pandas as pd  # import pandas for Series and grouping

# -----------------------------------------------------------
# Salary Series
# -----------------------------------------------------------
# Values represent salaries of each person
salary = pd.Series([50000, 55000, 60000, 62000],
                   index=["Keshav", "Poorvi", "Jaishwant", "Shri"])  # Names

# Department Series
# Each person belongs to a department
department = pd.Series(["HR", "HR", "IT", "IT"],
                       index=["Keshav", "Poorvi", "Jaishwant", "Shri"])

# -----------------------------------------------------------
# Grouping salary by department
# -----------------------------------------------------------
grouped_salary = salary.groupby(department)  # group salaries according to department

# You can print the groups
print("Grouped Series (just groups, no aggregation):\n", grouped_salary, "\n")

Grouped Series (just groups, no aggregation):
 <pandas.core.groupby.generic.SeriesGroupBy object at 0x12b1dc740>

In [30]:
# Grouping a DataFrame by a column
import pandas as pd  # import pandas for DataFrame and grouping

# -----------------------------------------------------------
# Create DataFrame with Department, Employee, and Salary
# -----------------------------------------------------------
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],                    # Departments
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri"],     # Names
    "Salary": [50000, 55000, 60000, 62000]                     # Salary values
})

# -----------------------------------------------------------
# Grouping by Department
# -----------------------------------------------------------
grouped_df = df.groupby("Department")  # group rows according to 'Department'

# Print the groups formed (indices in each group)
print("Grouped DataFrame (just groups, no aggregation):\n", grouped_df, "\n")

Grouped DataFrame (just groups, no aggregation):
 <pandas.core.groupby.generic.DataFrameGroupBy object at 0x12b1dd0d0>

In [31]:
# Grouping and Aggregating - Series and DataFrame
import pandas as pd  # import pandas for Series and DataFrame handling

# -----------------------------------------------------------
# 1. Series Example
# -----------------------------------------------------------
# Salary Series for each employee
salary_series = pd.Series([50000, 55000, 60000, 62000],
                          index=["Keshav", "Poorvi", "Jaishwant", "Shri"])  # Indian names

# Department for each employee
department_series = pd.Series(["HR", "HR", "IT", "IT"],
                              index=["Keshav", "Poorvi", "Jaishwant", "Shri"])

# Grouping (creates groups, no aggregation yet)
grouped_series = salary_series.groupby(department_series)
print("Grouped Series (no aggregation):")
for dept, group in grouped_series:
    print(f"{dept}: {group.values}")  # prints salaries in each group
print()

# Aggregating (mean salary per department)
aggregated_series = grouped_series.mean()  # calculates average salary per department
print("Aggregated Series (mean salary per department):")
print(aggregated_series)
print("\n" + "="*50 + "\n")

# -----------------------------------------------------------
# 2. DataFrame Example
# -----------------------------------------------------------
# DataFrame with Department, Employee, Salary, and Bonus
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT"],                    # Departments
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri"],     # Names
    "Salary": [50000, 55000, 60000, 62000],                    # Salary values
    "Bonus": [5000, 6000, 7000, 8000]                          # Bonus values
})

# Grouping by Department (creates groups)
grouped_df = df.groupby("Department")
print("Grouped DataFrame (no aggregation):")
for dept, group in grouped_df:
    print(f"{dept} group:\n{group}\n")  # prints each department group

# Aggregating (mean and sum for numeric columns)
aggregated_df = grouped_df.agg({
    "Salary": ["mean", "sum"],  # mean and sum of Salary
    "Bonus": ["mean", "sum"]    # mean and sum of Bonus
})
print("Aggregated DataFrame (Salary and Bonus stats per Department):")
print(aggregated_df)

Grouped Series (no aggregation):
HR: [50000 55000]
IT: [60000 62000]

Aggregated Series (mean salary per department):
HR    52500.0
IT    61000.0
dtype: float64

==================================================

Grouped DataFrame (no aggregation):
HR group:
  Department Employee  Salary  Bonus
0         HR   Keshav   50000   5000
1         HR   Poorvi   55000   6000

IT group:
  Department   Employee  Salary  Bonus
2         IT  Jaishwant   60000   7000
3         IT       Shri   62000   8000

Aggregated DataFrame (Salary and Bonus stats per Department):
             Salary           Bonus
               mean     sum    mean    sum
Department
HR          52500.0  105000  5500.0  11000
IT          61000.0  122000  7500.0  15000

In [32]:
# Merging DataFrames Example
import pandas as pd  # import pandas for DataFrame operations

# -----------------------------------------------------------
# DataFrame 1: Employee and Department
# -----------------------------------------------------------
df1 = pd.DataFrame({
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri"],  # Names
    "Department": ["HR", "IT", "HR", "IT"]                  # Departments
})

# DataFrame 2: Employee and Salary
df2 = pd.DataFrame({
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Yash"],  # Names
    "Salary": [50000, 60000, 55000, 58000]                  # Salary values
})

# -----------------------------------------------------------
# Inner merge: only employees present in both DataFrames
# -----------------------------------------------------------
inner_merge = pd.merge(df1, df2, on="Employee", how="inner")
print("Inner Merge (common employees only):\n", inner_merge, "\n")

# -----------------------------------------------------------
# Outer merge: all employees from both DataFrames
# -----------------------------------------------------------
outer_merge = pd.merge(df1, df2, on="Employee", how="outer")
print("Outer Merge (all employees):\n", outer_merge, "\n")

Inner Merge (common employees only):
     Employee Department  Salary
0     Keshav         HR   50000
1     Poorvi         IT   60000
2  Jaishwant         HR   55000

Outer Merge (all employees):
     Employee Department   Salary
0  Jaishwant         HR  55000.0
1     Keshav         HR  50000.0
2     Poorvi         IT  60000.0
3       Shri         IT      NaN
4       Yash        NaN  58000.0

In [33]:
# Merging DataFrames on different key columns
import pandas as pd  # import pandas for DataFrame operations

# -----------------------------------------------------------
# DataFrame 1: EmpID and Name
# -----------------------------------------------------------
df1 = pd.DataFrame({
    "EmpID": [1, 2, 3],                            # Employee IDs
    "Name": ["Keshav", "Poorvi", "Jaishwant"]      # Employee names
})

# DataFrame 2: EmployeeID and Salary
df2 = pd.DataFrame({
    "EmployeeID": [2, 3, 4],                       # Employee IDs (different column name)
    "Salary": [60000, 55000, 58000]                # Salary values
})

# -----------------------------------------------------------
# Merge using different column names
# left_on = column in left DataFrame, right_on = column in right DataFrame
# Only keep rows with matching keys (inner join)
# -----------------------------------------------------------
merged_df = pd.merge(df1, df2, left_on="EmpID", right_on="EmployeeID", how="inner")
print("Merge on different keys (inner join):\n", merged_df)

Merge on different keys (inner join):
    EmpID       Name  EmployeeID  Salary
0      2     Poorvi           2   60000
1      3  Jaishwant           3   55000

In [34]:
# Handling overlapping column names during merge
import pandas as pd  # import pandas for DataFrame operations

# -----------------------------------------------------------
# DataFrame 1: Employee and Salary
# -----------------------------------------------------------
df1 = pd.DataFrame({
    "Employee": ["Keshav", "Poorvi"],    # Employee names
    "Salary": [50000, 60000]             # Salary values
})

# DataFrame 2: Employee and Salary (some overlap)
df2 = pd.DataFrame({
    "Employee": ["Poorvi", "Jaishwant"], # Employee names
    "Salary": [65000, 55000]             # Salary values
})

# -----------------------------------------------------------
# Merge with custom suffixes
# -----------------------------------------------------------
# Pandas automatically adds _x and _y for overlapping columns,
# but we can customize using suffixes parameter
merged_df = pd.merge(df1, df2, on="Employee", how="outer", suffixes=("_Old", "_New"))
print("Merge with custom suffixes:\n", merged_df)

Merge with custom suffixes:
     Employee  Salary_Old  Salary_New
0  Jaishwant         NaN     55000.0
1     Keshav     50000.0         NaN
2     Poorvi     60000.0     65000.0

In [35]:
# Merging DataFrames using indexes
import pandas as pd  # import pandas for DataFrame operations

# -----------------------------------------------------------
# DataFrame 1: Salary with Employee as index
# -----------------------------------------------------------
df1 = pd.DataFrame({"Salary": [50000, 60000]}, index=["Keshav", "Poorvi"])  # Names

# DataFrame 2: Department with Employee as index
df2 = pd.DataFrame({"Department": ["HR", "IT"]}, index=["Keshav", "Poorvi"])

# -----------------------------------------------------------
# Merge using indexes
# -----------------------------------------------------------
# left_index=True and right_index=True merges on the row index instead of columns
merged_index_df = pd.merge(df1, df2, left_index=True, right_index=True)
print("Merge using indexes:\n", merged_index_df)

Merge using indexes:
         Salary Department
Keshav   50000         HR
Poorvi   60000         IT

# Summary table
# df.pivot_table(values='NumericColumn', index='RowCategory', columns='ColumnCategory', aggfunc='mean')
# values  numeric column to summarize
# index  row labels
# columns  column labels (optional)
# aggfunc  aggregation function (mean, sum, count, etc.)

In [36]:
# Creating a summary table (Pivot Table) in pandas
import pandas as pd  # import pandas for DataFrame and pivot operations

# -----------------------------------------------------------
# Sample DataFrame with Department, Team, and Salary
# -----------------------------------------------------------
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],                 # Departments
    "Team": ["A", "B", "A", "B", "A", "B"],                             # Teams
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri", "Yash", "Anika"], # Names
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000]                # Salary values
})

# -----------------------------------------------------------
# Pivot table: average salary by Department and Team
# -----------------------------------------------------------
# index = rows, columns = columns, aggfunc = function applied (mean in this case)
summary_table = df.pivot_table(values="Salary", index="Department", columns="Team", aggfunc="mean")
print("Summary Table (Average Salary):\n", summary_table)

Summary Table (Average Salary):
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

In [37]:
# Pivot Table with multiple aggregation functions
import pandas as pd  # import pandas for DataFrame and pivot operations

# -----------------------------------------------------------
# Sample DataFrame with Department, Team, Employee, and Salary
# -----------------------------------------------------------
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],                  # Departments
    "Team": ["A", "B", "A", "B", "A", "B"],                               # Teams
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri", "Yash", "Anika"], # Names
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000]                 # Salary values
})

# -----------------------------------------------------------
# Pivot table with multiple aggregation functions
# -----------------------------------------------------------
# You can calculate mean, sum, and max at once for each Department-Team combination
summary_table_multi = df.pivot_table(
    values="Salary",            # column to aggregate
    index="Department",         # rows
    columns="Team",             # columns
    aggfunc=["mean", "sum", "max"]  # multiple aggregation functions
)
print("Pivot Table with Multiple Aggregations:\n", summary_table_multi)

Pivot Table with Multiple Aggregations:
                mean              sum            max
Team              A        B       A       B      A      B
Department
HR          54000.0  55000.0  108000   55000  58000  55000
IT          60000.0  61500.0   60000  123000  60000  62000

In [38]:
# Pivot Table: Handling missing data
import pandas as pd  # import pandas for DataFrame and pivot operations

# -----------------------------------------------------------
# Sample DataFrame with Department, Team, Employee, and Salary
# -----------------------------------------------------------
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],                   # Departments
    "Team": ["A", "B", "A", "B", "A", "B"],                                # Teams
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri", "Yash", "Anika"], # Names
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000]                   # Salary values
})

# -----------------------------------------------------------
# Pivot table with fill_value to handle missing combinations
# -----------------------------------------------------------
# Missing combinations in Department-Team get NaN by default
# fill_value=0 replaces NaN with 0
summary_table_fill = df.pivot_table(
    values="Salary",            # column to aggregate
    index="Department",         # rows
    columns="Team",             # columns
    aggfunc="mean",             # aggregation function
    fill_value=0                # replace missing values with 0
)
print("Pivot Table with Missing Values Filled:\n", summary_table_fill)

Pivot Table with Missing Values Filled:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0

In [39]:
# Grouping vs Pivot Tables in pandas
import pandas as pd  # import pandas for DataFrame and grouping operations

# -----------------------------------------------------------
# Sample DataFrame with Department, Team, Employee, and Salary
# -----------------------------------------------------------
df = pd.DataFrame({
    "Department": ["HR", "HR", "IT", "IT", "HR", "IT"],                   # Departments
    "Team": ["A", "B", "A", "B", "A", "B"],                                # Teams
    "Employee": ["Keshav", "Poorvi", "Jaishwant", "Shri", "Yash", "Anika"], # Names
    "Salary": [50000, 55000, 60000, 62000, 58000, 61000]                   # Salary values
})

# -----------------------------------------------------------
# Pivot tables are like groupby + aggregation + reshape
# -----------------------------------------------------------
# Using groupby + unstack to get equivalent pivot table
grouped = df.groupby(["Department", "Team"])["Salary"].mean().unstack()  # group by Department & Team, then reshape
print("Equivalent using groupby + unstack:\n", grouped)

Equivalent using groupby + unstack:
 Team              A        B
Department
HR          54000.0  55000.0
IT          60000.0  61500.0