In [2]:
# Importing Libraries

import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('financial_transactions.csv') # reading complete csv file and saving csv file in a dataframe

In [4]:
df.head()# viewing first 5 rows of the dataset

,transaction_id,date,customer_id,amount,type,description
0,1,2020-10-26,926,6478.39,credit,Expect series shake art again our.
1,2,2020-01-08,466,1255.95,credit,Each left similar likely coach take.
2,3,2019-09-02,110,7969.68,debit,Direction wife job pull determine leader move ...
3,4,2020-12-02,142,2927.41,credit,Agree reveal buy black already.
4,5,2020-12-02,944,4661.88,debit,Child relationship show college whom speech.

# For the below cell

# here index is the indes of the rows in the dataframe
# ' mode = a ' means it is in append mode
# header is used to write the columns name at the top of the csv file

In [5]:
# Appending data to the csv file

new_transaction = pd.DataFrame([{
    'transaction_id': 1005,
    'date': '2025/09/10',
    'customer_id': '009',
    'amount': 90000000,
    'type': 'debit',
    'description': 'Merger with Goldman Sachs'
}])# We created a dataframe for our new data that need to be added into our csv file

new_transaction.to_csv('financial_transactions.csv', mode='a', index=False, header=False) # converting our dataframe into the csv format
print("New transaction appended")


# here index is the indes of the rows in the dataframe
# mode = a means it is in append mode
# header is used to write the columns name at the top of the csv file

New transaction appended

# For the below cell
# We are using (with...as) i.e a context manager(with....as) which makes sure that the file is always closed properly 
# Here 'reader' is an iterator allowing us to loop through the csv file, chunk by chunk
# Here 'chunk' is a pandas data frame containing up to 10,000 rows for each chunk in the dataset

In [6]:
# reding csv chunk by chunk

with pd.read_csv("financial_transactions.csv", chunksize=10000) as reader:
    print(reader)
    for chunk in reader:
        print(chunk)

print(type(reader))  
print(type(chunk))


# We are using (with...as) i.e a context manager(with....as) which makes sure that the file is always closed properly 
# Here 'reader' is an iterator allowing us to loop through the csv file, chunk by chunk
# Here 'chunk' is a pandas data frame containing up to 10,000 rows for each chunk in the dataset

<pandas.io.parsers.readers.TextFileReader object at 0x12a0bbc50>
      transaction_id        date  customer_id   amount      type  \
0                  1  2020-10-26          926  6478.39    credit
1                  2  2020-01-08          466  1255.95    credit
2                  3  2019-09-02          110  7969.68     debit
3                  4  2020-12-02          142  2927.41    credit
4                  5  2020-12-02          944  4661.88     debit
...              ...         ...          ...      ...       ...
9995            9996  2019-01-17          175  9360.56  transfer
9996            9997  2020-08-17          976  6771.07    credit
9997            9998  2021-02-05          228  8821.19    credit
9998            9999  2022-08-05          788  3316.43     debit
9999           10000  2022-09-08           16  9392.33    credit

                                            description
0                    Expect series shake art again our.
1                  Each left similar likely coach take.
2     Direction wife job pull determine leader move ...
3                       Agree reveal buy black already.
4          Child relationship show college whom speech.
...                                                 ...
9995       Figure can walk little affect ready foreign.
9996                 Rate author fund set agree create.
9997  Indeed ground mouth charge church around add t...
9998                    Win will population need coach.
9999                                Market raise argue.

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
10000           10001  2020-11-25          194  9082.61     debit
10001           10002  2019-08-21          826  8673.27     debit
10002           10003  2021-05-14          332  6475.51  transfer
10003           10004  2021-06-03          846  1724.71    credit
10004           10005  2020-04-30          821  1685.05    credit
...               ...         ...          ...      ...       ...
19995           19996  2022-08-29          265  3834.17     debit
19996           19997  2021-09-07          260  2604.27  transfer
19997           19998  2020-02-05          197  7967.98    credit
19998           19999  2022-01-03           61  8745.53  transfer
19999           20000  2023-03-06          958  8627.24     debit

                                             description
10000           Happy return financial control state if.
10001             Campaign response raise maybe subject.
10002                             Pay ok economic truth.
10003  Research visit else ago strategy management to...
10004                  South play single explain social.
...                                                  ...
19995                Star whatever attention light find.
19996           Century and real hold create between do.
19997          Easy office natural successful have look.
19998  Couple state central office moment member huma...
19999            Finally address once attack free there.

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
20000           20001  2022-02-09          800  4576.32    credit
20001           20002  2021-06-30          746  7749.63  transfer
20002           20003  2022-06-14          307  2719.07    credit
20003           20004  2019-11-02          731  8259.35     debit
20004           20005  2019-08-04          897  1139.16    credit
...               ...         ...          ...      ...       ...
29995           29996  2020-02-11          775  6532.88  transfer
29996           29997  2022-05-20          552  7973.51     debit
29997           29998  2021-08-05          152  5779.83    credit
29998           29999  2021-04-11          727  4229.53  transfer
29999           30000  2020-03-31          678  8939.19  transfer

                                         description
20000                   Ground other operation then.
20001                  Have pretty home rather ever.
20002  Life dog final population have film cultural.
20003                 Rest could computer recognize.
20004       Again culture sure move likely suddenly.
...                                              ...
29995              Among voice far represent accept.
29996           Dinner meet hundred year black send.
29997       Process pay boy their despite so suffer.
29998                Every professor town man agree.
29999                          Wear himself machine.

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
30000           30001  2022-03-15          870  8506.76     debit
30001           30002  2022-08-30          148  9902.23     debit
30002           30003  2019-02-14          895  5507.92  transfer
30003           30004  2023-03-19          854  6938.07     debit
30004           30005  2020-11-19          389  6519.46    credit
...               ...         ...          ...      ...       ...
39995           39996  2019-06-08          630  9224.52     debit
39996           39997  2022-11-21          477  7679.42     debit
39997           39998  2019-02-05          286  5304.78     debit
39998           39999  2020-08-20          842  8770.48    credit
39999           40000  2023-01-09          589  1892.71  transfer

                                             description
30000             Happy detail commercial me small move.
30001                   Agree nice type black more year.
30002               Message compare employee four study.
30003                                 Talk fly feel sit.
30004       City including value likely record arm side.
...                                                  ...
39995                           Indeed ten growth write.
39996  Mission health radio arm administration succes...
39997                Stop create direction about mother.
39998                        Admit home single activity.
39999                                 Such two last tax.

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
40000           40001  2019-01-21          340  2650.37  transfer
40001           40002  2022-01-02          655  2014.86  transfer
40002           40003  2019-09-20           50  9861.96    credit
40003           40004  2021-10-17          900  5406.15  transfer
40004           40005  2021-10-22          977   940.40  transfer
...               ...         ...          ...      ...       ...
49995           49996  2021-08-09          786  2160.25    credit
49996           49997  2023-03-14          500  7339.86  transfer
49997           49998  2022-04-21          860  9826.79     debit
49998           49999  2019-10-23           35  9874.02    credit
49999           50000  2020-07-26          149  1087.01  transfer

                                             description
40000                      Church none foot choice word.
40001                  Site data with may work out hour.
40002       Include thousand rich begin character third.
40003  State people approach again agent suffer entir...
40004                        Box especially office miss.
...                                                  ...
49995                 Morning attorney age personal ago.
49996        Including positive now improve media since.
49997                     Rich support make performance.
49998                     Understand summer road summer.
49999  Still let anything everything career foot frie...

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
50000           50001  2019-01-05          699  2387.59  transfer
50001           50002  2018-10-04          149  2204.74    credit
50002           50003  2021-03-09          146   402.38     debit
50003           50004  2020-06-14           30   621.58     debit
50004           50005  2019-01-26          981  9275.83    credit
...               ...         ...          ...      ...       ...
59995           59996  2020-11-10          368  8356.58    credit
59996           59997  2018-07-30          721  8985.61  transfer
59997           59998  2020-12-24          922   615.77     debit
59998           59999  2019-06-15          861  3323.40     debit
59999           60000  2020-11-25          770  8083.38    credit

                                             description
50000                  Next serve ten middle write when.
50001           Garden ready work collection early join.
50002                Nature thought prepare significant.
50003             Cut role every forget often for whose.
50004        Month without bar gun newspaper make skill.
...                                                  ...
59995                                    Size very that.
59996  Positive data whole quality movie address impact.
59997                         Likely food tonight light.
59998               Most manage on those computer story.
59999  Remain project cold already floor opportunity ...

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
60000           60001  2020-02-20           14  2549.48    credit
60001           60002  2018-05-04          751  1596.62  transfer
60002           60003  2021-04-29          227  8191.30  transfer
60003           60004  2023-01-24          810  4069.06     debit
60004           60005  2021-05-30          803  5564.61    credit
...               ...         ...          ...      ...       ...
69995           69996  2018-09-18          863  4389.16  transfer
69996           69997  2022-09-14          561  4983.03    credit
69997           69998  2020-01-27          607  3882.65     debit
69998           69999  2020-11-12          926  8285.46     debit
69999           70000  2021-11-13          678  9482.41    credit

                                        description
60000              Thus example tell what on media.
60001                             Seek chair third.
60002                     Science term chair court.
60003                   Reason kind camera discuss.
60004                              Such green news.
...                                             ...
69995                    Concern role million size.
69996                       Fly development garden.
69997  Scene environmental game consider wind keep.
69998               Stage section present hospital.
69999                  Third table strategy result.

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
70000           70001  2019-09-09          648  2547.59    credit
70001           70002  2020-04-19          437  7446.59     debit
70002           70003  2023-01-02          264  2562.85  transfer
70003           70004  2023-01-07          424  2522.39     debit
70004           70005  2021-07-11          879  3906.22     debit
...               ...         ...          ...      ...       ...
79995           79996  2019-03-06          817  5084.16    credit
79996           79997  2018-10-26          117  6057.05     debit
79997           79998  2018-08-30          841  9050.84    credit
79998           79999  2021-09-13          193  7698.87    credit
79999           80000  2021-02-02          684  2891.81    credit

                                             description
70000          Charge grow expect that at between visit.
70001          Training size less politics threat until.
70002  Minute director thought role century medical a...
70003  Population interesting perform through lot glass.
70004    Pattern these citizen bring represent somebody.
...                                                  ...
79995                    Trip office walk analysis even.
79996            Pattern success sell grow maintain cup.
79997   Middle new economic feeling vote call statement.
79998        Yard artist minute performance final civil.
79999             Whatever best forward experience wish.

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
80000           80001  2022-05-23           36  9944.52     debit
80001           80002  2019-07-09          745  2351.08    credit
80002           80003  2023-01-28           68  7526.05     debit
80003           80004  2019-03-08          883  5234.15     debit
80004           80005  2020-09-04          257  6940.60  transfer
...               ...         ...          ...      ...       ...
89995           89996  2019-09-27          158  8880.08     debit
89996           89997  2020-05-17          843  1386.56    credit
89997           89998  2018-05-28          719  3562.61    credit
89998           89999  2019-12-14          218  8309.60  transfer
89999           90000  2022-09-23          615  8942.56     debit

                                             description
80000     Mr fly fire religious side reach consider try.
80001  Here institution myself down eat race article ...
80002             Lay Democrat war daughter might skill.
80003                      Leader none sense individual.
80004                      Rest recently growth service.
...                                                  ...
89995    Light there explain baby prove no organization.
89996                   Where manager important hundred.
89997  Speak military time operation shoulder dinner me.
89998                  Data environment never enter kid.
89999  Arrive conference body chance PM degree now st...

[10000 rows x 6 columns]
       transaction_id        date  customer_id   amount      type  \
90000           90001  2022-12-13          225  8019.32  transfer
90001           90002  2018-09-25          542  5340.06  transfer
90002           90003  2021-12-28          723  3929.85  transfer
90003           90004  2020-10-10          599  6953.69    credit
90004           90005  2022-09-25          652  5585.70    credit
...               ...         ...          ...      ...       ...
99995           99996  2020-09-07           40  8572.18     debit
99996           99997  2021-09-24          951  1861.95    credit
99997           99998  2020-09-10          533  8265.77  transfer
99998           99999  2022-08-22           65  6874.50     debit
99999          100000  2019-07-20          475  5258.85     debit

                                             description
90000                               Drive five whatever.
90001         Discussion writer have part box step west.
90002         Than raise manage make data market effect.
90003                               Outside series tend.
90004  Entire central economy truth treatment house s...
...                                                  ...
99995                   Clear main main rise population.
99996  Manager modern movement even common name artis...
99997          Describe skin process key school arm for.
99998                                    Product be lay.
99999            Only that practice market station must.

[10000 rows x 6 columns]
        transaction_id        date  customer_id    amount   type  \
100000            1005  2025/09/10            9  90000000  debit
100001            1005  2025/09/10            9  90000000  debit

                      description
100000  Merger with Goldman Sachs
100001  Merger with Goldman Sachs
<class 'pandas.io.parsers.readers.TextFileReader'>
<class 'pandas.core.frame.DataFrame'>

# Writing Numeric Data into a CSV file

In [9]:
# Adding Numeric data to financial_transaction.csv file 

# we are using numpy to add numeric data to the csv file above we used the pandas dataframe to do so
data = np.array([
    [1001, "2025-09-09", 250.75,],
    [1002, "2025-09-08", 100.00,],
    [1003, "2025-09-07", 50.50,],
    [1004, "2025-09-06", 500.00,]
])

# Save as CSV
np.savetxt(
    'financial_transaction.csv',
    data,
    delimiter=',',
    header='transaction_id,date,amount',# these are the column headings in the file
    comments='',
    fmt='%s'   # everything saved as string
)

print("Numeric data is written using numpy")

Numeric data is written using numpy

# Writing text data into a csv file

In [10]:
import pandas as pd

data = {
    'type': ['purchase', 'refund', 'purchase', 'purchase'],
    'description': ['Bought electronics', 'Returned defective item', 'Bought groceries', 'Paid for furniture']
}

df = pd.DataFrame(data)
df.to_csv('financial_transaction.csv', index=False)# index in pandas is like an extra column of row numbers (0,1,2....).
                                                   # So index=False removes those row numbers, not the real data columns

print("Text data is wriiten inot the csv file using pandas")

Text data is wriiten inot the csv file using pandas

# Reading an excel file

In [22]:
# Reading an entire Excel file into a DataFrame
df1 = pd.read_excel("bank.xlsx")

In [23]:
df1.head() # printing the first 5 rows of the excel file

,Account No,DATE,TRANSACTION DETAILS,CHQ.NO.,VALUE DATE,WITHDRAWAL AMT,DEPOSIT AMT,BALANCE AMT,.
0,409000611074',2017-06-29,TRF FROM Indiaforensic SERVICES,NaN,2017-06-29,NaN,1000000.0,1000000.0,.
1,409000611074',2017-07-05,TRF FROM Indiaforensic SERVICES,NaN,2017-07-05,NaN,1000000.0,2000000.0,.
2,409000611074',2017-07-18,FDRL/INTERNAL FUND TRANSFE,NaN,2017-07-18,NaN,500000.0,2500000.0,.
3,409000611074',2017-08-01,TRF FRM Indiaforensic SERVICES,NaN,2017-08-01,NaN,3000000.0,5500000.0,.
4,409000611074',2017-08-16,FDRL/INTERNAL FUND TRANSFE,NaN,2017-08-16,NaN,500000.0,6000000.0,.

In [14]:
import openpyxl

# Create a new workbook
wb = openpyxl.Workbook()

# Get active worksheet
ws = wb.active
ws.title = "friends"

# Add rows of data
ws.append(["Name", "Age", "Marks"])
ws.append(["Keshav", 22, 999])
ws.append(["Jiashwant", 22, 750])
ws.append(["Poorvi", 21, 878])

# Save the file
wb.save("friends.xlsx")
print("Excel file created successfully!")

Excel file created successfully!

In [16]:
# Reading Excel file using Pandas
df_excel = pd. read_excel("friends.xlsx", sheet_name="friends")
print (df_excel)

        Name  Age  Marks
0     Keshav   22    999
1  Jiashwant   22    750
2     Poorvi   21    878

In [21]:
# loading the workbook-:

wb = openpyxl. load_workbook('friends.xlsx')

In [23]:
# Accessing the worksheet in our workbook-:

ws = wb.active

In [24]:
# Counting the total number of rows and columns in the worksheet

print('Total number of rows: '+str(ws.max_row))
print('Total number of columns: '+str (ws.max_column))

Total number of rows: 4
Total number of columns: 3

In [34]:
# Reading data from a paticular cell(column)-:

print('The value in cell A1 is: '+ws['A1'].value)
print('The value in cell A1 is: '+ws['B1'].value)
print('The value in cell A1 is: '+ws['A2'].value)
print('The value in cell A1 is: ' + str(ws['B2'].value))

The value in cell A1 is: Name
The value in cell A1 is: Age
The value in cell A1 is: Keshav
The value in cell A1 is: 22

In [38]:
# Printing multiple rows of a specific column-:

df = [ws.cell(row=i, column=1).value for i in range(2, 5)]
print(df)

['Keshav', 'Jiashwant', 'Poorvi']

In [43]:
# Writing files using openpyxl

ws['D1'] = 'Testing'
# or can use it like this  { ws.cell(row=1, column=4, value = 'Testing'}
wb.save ('friends.xlsx')

In [44]:
# Creating a new column called "Average Age" to calculate the average of the age in column B and saving it in column E

ws['E1'] = 'Average Age'
ws['E2'] = '= AVERAGE (B2: B100)'# this from cell B2 to all the way to the cell 100 of B2

wb.save ('friends.xlsx')

In [45]:
# Using COUNTIF to counts the number of cells that meet a specific condition

ws['F1'] = 'Number of Rows with Marks above 870'
ws['F2'] = '=COUNTIF(C2: C16220, ">870")'
wb. save('friends.xlsx')

In [48]:
# Changing Sheet Names
print(ws.title)                       # Print current sheet name
ws.title = 'Friends data'             # Change sheet name
wb.save('friends.xlsx')               # Save workbook
print(wb.sheetnames)                  # Print all sheet names
wb.save('friends2.xlsx')              # Save again with a new filename

# Duplicating a Worksheet
wb.copy_worksheet(wb['Friends data']) # Duplicate the sheet
wb.save('friends_data_2.xlsx')        # Save with corrected filename

friends
['Friends data']

In [49]:
import openpyxl
from openpyxl.chart import Reference, BarChart

# make a new excel workbook
wb = openpyxl.Workbook()

# get the first sheet
ws = wb.active
ws.title = "Sales Data"   # give sheet a name

# put some data in the sheet (sales for 2023 and 2024)
data = [
    ["Genre", "2023 Sales", "2024 Sales"],
    ["Action", 120, 150],
    ["Adventure", 80, 95],
    ["Sports", 150, 170],
    ["RPG", 90, 110],
    ["Racing", 60, 75],
    ["Shooter", 200, 230],
    ["Puzzle", 40, 60]
]

# write each row of data into the sheet
for row in data:
    ws.append(row)

# choose the numbers (sales) for the chart
values = Reference(
    ws,
    min_col=2,     # start from column 2 (sales)
    max_col=3,     # take till column 3 (two years)
    min_row=1,     # include header
    max_row=len(data)  # go till last row
)

# choose the names (genres) for the chart
cats = Reference(
    ws,
    min_col=1,     # column 1 has genres
    max_col=1,
    min_row=2,     # start after header
    max_row=len(data)
)

# make a column chart (vertical bars)
chart = BarChart()
chart.type = "col"
chart.style = 11   # give some style to the chart
chart.add_data(values, titles_from_data=True)  # add numbers
chart.set_categories(cats)                     # add genre names

# set titles for chart and axes
chart.title = "Total Sales by Genre (2023 vs 2024)"
chart.x_axis.title = "Genre"
chart.y_axis.title = "Units Sold"

# put chart on the sheet (starting at cell E5)
ws.add_chart(chart, "E5")

# save the excel file
wb.save("unique_sales_chart.xlsx")
print("Unique bar chart created and saved in 'unique_sales_chart.xlsx'")

Unique bar chart created and saved in 'unique_sales_chart.xlsx'