# Handling JSON Files
# JSON (JavaScript Object Notation) is widely used for structured and hierarchical data.
# Common operations:
# • Writing JSON (json. dump, json. dumps )
# • Reading JSON (json. load, json. loads )
# json.dump() → Write dictionary to JSON file
# json.load() → Read JSON from a file
# json.dumps() → Convert dictionary to JSON string
# json.loads() → Convert JSON string to Python object
# json.dump()

In [1]:
import json   # we are using the json module to work with JSON files

# this is a dictionary (like a small database) of employees
employee_data = {
    "emp1": {"name": "Keshav", "age": 22, "department": "IT"},
    "emp2": {"name": "Poorvi", "age": 24, "department": "HR"},
    "emp3": {"name": "Jaishwant", "age": 23, "department": "Finance"},
    "emp4": {"name": "Rishabh", "age": 25, "department": "Marketing"}
}

# here we open a file called employees.json in write ("w") mode
# "with" makes sure the file is closed automatically after writing
with open("employees.json", "w") as f:
    # we save (dump) our employee_data dictionary into the file in JSON format
    # indent=4 means the data will look neat and easy to read
    json.dump(employee_data, f, indent=4)

# this line just tells us that the file was created
print("JSON file created successfully with friends data")

JSON file created successfully with friends data

# json.load()

In [2]:
# Reading JSON file
# open the employees.json file in read ("r") mode using context manager
with open("employees.json", "r") as f:
    # load the JSON data into a Python dictionary
    data = json.load(f)

In [4]:
# printing each employee's data one by one
for key, value in data.items():
    print(key, ":", value)

emp1 : {'name': 'Keshav', 'age': 22, 'department': 'IT'}
emp2 : {'name': 'Poorvi', 'age': 24, 'department': 'HR'}
emp3 : {'name': 'Jaishwant', 'age': 23, 'department': 'Finance'}
emp4 : {'name': 'Rishabh', 'age': 25, 'department': 'Marketing'}

# json.loads()

In [5]:
# here is a JSON string (like text form of JSON data)
json_string = '{"city": "New York", "population": 890000, "famous": true}'

# convert the JSON string into a Python dictionary
city_dict = json.loads(json_string)

print("\nConverting JSON string to Python dict with loads():")
print(city_dict)

# print one value from the dictionary
print("City Name:", city_dict["city"])

Converting JSON string to Python dict with loads():
{'city': 'New York', 'population': 890000, 'famous': True}
City Name: New York

# json.dumps()

In [7]:
import json   # using json module

# this is a Python dictionary (like a small database)
person_dict = {
    "name": "Keshav",
    "age": 22,
    "children": None   # None means no children
}

# convert the Python dictionary into a JSON string
person_json = json.dumps(person_dict, indent=4)

# print the JSON string
print("JSON string of person data:")
print(person_json)

JSON string of person data:
{
    "name": "Keshav",
    "age": 22,
    "children": null
}

# Handling json with Pandas

In [8]:
import pandas as pd   # we are using pandas to work with data easily

# 1. Create sample JSON data (normally you would load this from a file)
json_data = [
    {"id": 1, "name": "Keshav", "age": 22, "city": "Delhi"},
    {"id": 2, "name": "Poorvi", "age": 24, "city": "Mumbai"},
    {"id": 3, "name": "Jaishwant", "age": 23, "city": "Bangalore"},
    {"id": 4, "name": "Rishabh", "age": 25, "city": "Pune"}
]

# 2. Convert list of dictionaries into a pandas DataFrame (like a table)
df = pd.DataFrame(json_data)

# 3. Save the DataFrame into a JSON file
# orient="records" means each row becomes one JSON object
# indent=4 makes the JSON file look neat and easy to read
df.to_json("people.json", orient="records", indent=4)

# 4. Read the JSON file back into pandas and print it
print("Reading data back from people.json:")
print(pd.read_json("people.json"))

Reading data back from people.json:
   id       name  age       city
0   1     Keshav   22      Delhi
1   2     Poorvi   24     Mumbai
2   3  Jaishwant   23  Bangalore
3   4    Rishabh   25       Pune

# Inspecting data using pandas in json

In [9]:
# print first few rows of the DataFrame
print("\n=== Head of DataFrame ===")
print(df.head())

# print information about the DataFrame (columns, types, non-null counts)
print("\n=== DataFrame Info ===")
print(df.info())

# print statistical summary of all columns (numbers and objects)
print("\n=== Statistical Summary ===")
print(df.describe(include="all"))

=== Head of DataFrame ===
   id       name  age       city
0   1     Keshav   22      Delhi
1   2     Poorvi   24     Mumbai
2   3  Jaishwant   23  Bangalore
3   4    Rishabh   25       Pune

=== DataFrame Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4 non-null      int64
 1   name    4 non-null      object
 2   age     4 non-null      int64
 3   city    4 non-null      object
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes
None

=== Statistical Summary ===
              id    name        age   city
count   4.000000       4   4.000000      4
unique       NaN       4        NaN      4
top          NaN  Keshav        NaN  Delhi
freq         NaN       1        NaN      1
mean    2.500000     NaN  23.500000    NaN
std     1.290994     NaN   1.290994    NaN
min     1.000000     NaN  22.000000    NaN
25%     1.750000     NaN  22.750000    NaN
50%     2.500000     NaN  23.500000    NaN
75%     3.250000     NaN  24.250000    NaN
max     4.000000     NaN  25.000000    NaN

# Selecting rows

In [10]:
# print the "name" column
print("\n=== Selecting 'name' column ===")
print(df["name"])

# print the first 2 rows using iloc
print("\n=== Selecting first 2 rows ===")
print(df.iloc[0:2])

=== Selecting 'name' column ===
0       Keshav
1       Poorvi
2    Jaishwant
3      Rishabh
Name: name, dtype: object

=== Selecting first 2 rows ===
   id    name  age    city
0   1  Keshav   22   Delhi
1   2  Poorvi   24  Mumbai

# Filtering Data

In [11]:
# filter rows where age is greater than 28
filtered_df = df[df["age"] > 28]

# print the filtered DataFrame
print("\n=== People older than 28 ===")
print(filtered_df)

=== People older than 28 ===
Empty DataFrame
Columns: [id, name, age, city]
Index: []

# Adding a new column

In [12]:
# create a new column 'age_group' based on age
# if age < 25 → "Young", else → "Old"
df["age_group"] = df["age"].apply(lambda x: "Young" if x < 25 else "Old")

# print the DataFrame after adding the new column
print("\n=== After Adding 'age_group' Column ===")
print(df)

=== After Adding 'age_group' Column ===
   id       name  age       city age_group
0   1     Keshav   22      Delhi     Young
1   2     Poorvi   24     Mumbai     Young
2   3  Jaishwant   23  Bangalore     Young
3   4    Rishabh   25       Pune       Old

# Updating Values

In [13]:
# change the city of a specific person (here Keshav) to "Tokyo"
df.loc[df["name"] == "Keshav", "city"] = "Tokyo"

# print the DataFrame after updating the city
print("\n=== After Updating Keshav's City ===")
print(df)

=== After Updating Keshav's City ===
   id       name  age       city age_group
0   1     Keshav   22      Tokyo     Young
1   2     Poorvi   24     Mumbai     Young
2   3  Jaishwant   23  Bangalore     Young
3   4    Rishabh   25       Pune       Old

# Writing back in json

In [14]:
# save the updated DataFrame to a JSON file
# orient="records" makes each row a JSON object, indent=4 makes it easy to read
df.to_json("people_updated.json", orient="records", indent=4)

# print a message and show the final DataFrame
print("\n=== Final DataFrame written to people_updated.json ===")
print(df)

=== Final DataFrame written to people_updated.json ===
   id       name  age       city age_group
0   1     Keshav   22      Tokyo     Young
1   2     Poorvi   24     Mumbai     Young
2   3  Jaishwant   23  Bangalore     Young
3   4    Rishabh   25       Pune       Old